article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1em;
}
.centered-text {
  text-align: center !important;
}
body,
html {
  position: absolute;
  min-height: 100%;
  height: 100vh;
  width: 100%;
}
html {
  overflow-y: hidden;
}
body {
  overflow-y: auto;
}
nav {
  width: 155px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f7f7f7;
  text-align: left !important;
}
.main-monster-display {
  width: calc(100% - 455px);
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 15px;
  text-align: center;
}
.main-monster-display ul li {
  display: inline-block;
  width: 250px;
}
.mini-cart-display {
  width: 300px;
  height: 100%;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 5;
}
.mini-cart-display ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mini-cart-display ul li {
  margin: 0;
  padding: 0;
}
.mini-cart-display .mini-cart {
  padding: 8px;
  height: calc(100vh - 77px);
  overflow-y: auto;
}
.mini-cart-display .cart-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
.mini-cart-display .cart-table th,
.mini-cart-display .cart-table td {
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
}
.mini-cart-display .cart-table th {
  background-color: #90ee90;
}
.mini-cart-display .cart-table input {
  width: 70px;
  padding-left: 10px;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.mini-cart-display .cart-table .mini-cart-td {
  padding-left: 16px;
}
.hide-cart {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #000;
  border-top: 1px solid #fff;
  height: 75px;
  position: relative;
  top: 50%;
}
.to-open-mini-cart {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  border: 1px solid #000;
  padding: 20px 50px 20px 50px;
  font-size: 30px;
  cursor: pointer;
  color: #2dc22d;
  -webkit-transition: 1s;
  transition: 1s;
}
.monster {
  width: 24%;
  min-width: 225px;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 25px;
}
.monster img {
  width: 100px;
  height: auto;
  position: relative;
}
.monster .monster-text {
  float: left;
  width: 130px;
  font-size: 0.6em;
}
.monster .monster-add-button {
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #2dc22d;
  right: 15px;
  position: relative;
}
.monster .monster-add-button:active {
  background: rgba(0,0,0,0.05) !important;
  top: 2px;
}
.settings-page,
.checkout-display {
  width: calc(100% - 455px);
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.settings-page h3,
.checkout-display h3 {
  font-size: 1.7rem;
  text-align: center;
  width: 100%;
  padding-top: 15px;
}
.settings-page h4,
.checkout-display h4 {
  font-size: 1.5rem;
}
.settings-page h2,
.checkout-display h2 {
  padding: 15px 0px 15px 0px;
}
.settings-page table,
.checkout-display table {
  padding: 8px;
  border-collapse: collapse;
  width: 650px;
  margin: 0 auto;
}
.settings-page table th,
.checkout-display table th,
.settings-page table td,
.checkout-display table td {
  border: 1px solid #ddd;
  text-align: left;
}
.settings-page table th,
.checkout-display table th {
  padding: 12px;
  background-color: #90ee90;
}
.settings-page table td,
.checkout-display table td {
  padding: 8px 8px 8px 12px;
}
.settings-page table input,
.checkout-display table input {
  width: 70px;
  padding-left: 10px;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.settings-page .settings-button,
.checkout-display .settings-button,
.settings-page .remove-5-star-button,
.checkout-display .remove-5-star-button {
  position: relative;
  height: 50px;
  min-width: 85px;
  width: auto;
  background: #fff;
  border: 1px solid #000;
  border-top: 1px solid transparent;
}
.settings-page .remove-5-star-button,
.checkout-display .remove-5-star-button {
  border-top: 1px solid #000;
  margin-bottom: 15px;
}
.settings-page .cart-table,
.checkout-display .cart-table {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.settings-page .cart-table th,
.checkout-display .cart-table th,
.settings-page .cart-table td,
.checkout-display .cart-table td {
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
}
.settings-page .cart-table th,
.checkout-display .cart-table th {
  background-color: #90ee90;
}
.settings-page .cart-table input,
.checkout-display .cart-table input {
  width: 70px;
  padding-left: 10px;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.settings-page .cart-table .mini-cart-td,
.checkout-display .cart-table .mini-cart-td {
  padding-left: 16px;
}
.cart-app-display {
  width: calc(100% - 305px);
  margin: 0 auto;
  text-align: center;
  height: auto;
  float: right;
  padding: 0px 100px 100px 0;
}
.cart-app-display h3 {
  font-size: 1.7rem;
  text-align: center;
  width: 100%;
  padding-top: 15px;
}
.cart-app-display h4 {
  font-size: 1.5rem;
}
.cart-app-display h3 {
  font-size: 1.7rem;
}
.cart-app-display h2 {
  padding: 15px 0px 15px 0px;
}
.cart-app-display .cart-display {
  width: 600px;
  height: 100%;
  position: relative;
  float: left;
}
.cart-app-display .cart-right-hand {
  width: 300px;
  right: 25px;
  text-align: center;
  position: fixed;
}
.cart-app-display .cart-section {
  display: none;
}
.cart-app-display .button-link {
  position: relative;
  width: 155px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #ddd;
}
.cart-app-display .button-link:active {
  top: 3px;
  background-color: rgba(0,0,0,0.2);
}
.cart-app-display .button-link-2,
.cart-app-display .button-link-1 {
  display: none;
}
.cart-app-display table {
  padding: 8px;
  border-collapse: collapse;
  width: 650px;
  margin: 0 auto;
  margin-top: 30px;
}
.cart-app-display table th,
.cart-app-display table td {
  border: 1px solid #ddd;
  text-align: left;
}
.cart-app-display table th {
  padding: 12px;
  background-color: #90ee90;
}
.cart-app-display table td {
  padding: 8px 8px 8px 12px;
}
.cart-app-display table input {
  width: 70px;
  padding-left: 10px;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.remove {
  color: #d12028 !important;
}
